:root {
    /* COLORS */
    --intro-bg-clr: #6F11FF;
    --main-use-clr: #FF5F60;
    --contact-clr: #183251;

    --font-h1-clr: #333333;
    --font-p-clr: #8C8C8C;

    --icon-gs-clr: #4BD2FF;
    --icon-sr-clr: #694BFF;
    --icon-es-clr: #FFB14B;

    --bg-image-clr: #F8F7FE;

    --main-font: 'Poppins', sans-serif;
}

h1 {
    font-weight: bold;
    font-family: var(--main-font);
}

h2 {
    font-weight: 500;
    font-family: var(--main-font);
}

p {
    font-weight: 400;
    font-family: var(--main-font);
}

/* ------ HOME PAGE ------ */

/* HEADER SECTION */
/* Navigation */
.introduction {
    background-color: var(--intro-bg-clr);
    height: 100vh;
}

.button-container {
    display: none;
    margin: 15px 5px 2px 25px;
	cursor: pointer;
}

.first-bar, .second-bar, .third-bar {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	border-radius: 25px;
	-webkit-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
}

.clicked .first-bar {
	-webkit-transform: rotate(225deg) translate(-15px, 6px);
	-ms-transform: rotate(225deg) translate(-15px, 6px);
	    transform: rotate(225deg) translate(-15px, 6px);
}
  
.clicked .second-bar {
	opacity: 0;
	-webkit-transform: rotate(360deg);
	-ms-transform: translate(20px);
	    transform: translate(20px);
}
  
.clicked .third-bar {
	-webkit-transform: rotate(135deg) translate(-20px, 2px);
	-ms-transform: rotate(135deg) translate(-21px, 1px);
	    transform: rotate(135deg) translate(-21px, 1px);
}

.introduction-nav {
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px 0;
}

.introduction-nav__logo {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.introduction-nav__logo .logo {
    position: relative;
    color: #fff;
    font: italic bold 35px 'Poppins', sans-serif;
    text-decoration: none;
}

.introduction-nav__logo img {
    position: absolute;
    top: -9px;
    left: -27px;
    max-width: 35px;
    max-height: 50px;
}

.introduction-navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 67%;
}

.introduciton-nav__menu {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu-link {
    padding: 0 25px;
    color: #fff;
    font: normal 18px 'Poppins', sans-serif;
    cursor: pointer;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.menu-link:hover {
    color: var(--main-use-clr);
    font-size: 20px;
}

.introduction-nav__signin {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.introduction-nav__signin-btn {
    padding: 12px 33px;
    color: #fff;
    background-color: var(--main-use-clr);
    border-radius: 30px;
    font: normal 18px 'Poppins', sans-serif;
    text-decoration: none;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.introduction-nav__signin-btn:hover {
    background-color: #fff;
    color: var(--main-use-clr)
}

/* Main Block */
.introduction-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 75px 0 0 0;
}

.introduction-main__info {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}

.info-wrapper {
    width: 600px;
}

.info-wrapper h1 {
    color: #fff;
    font: normal bold 70px 'Poppins', sans-serif;
}

.info-wrapper p {
    margin-top: 20px;
    color: #fff;
    font: normal 17px 'Poppins', sans-serif;
}

.info-wrapper button {
    margin-top: 70px;
    padding: 12px 30px;
    color: #fff;
    background-color: var(--main-use-clr);
    border: none;
    border-radius: 30px;
    font: normal 18px 'Poppins', sans-serif;
    cursor: pointer;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.info-wrapper button:hover {
    background-color: #fff;
    color: var(--main-use-clr)
}


.introduction-main__image {
    width: 50%;
}

/* MAIN SECTION */

/* Divine Elements */
.main-section__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.main-section__wrapper {
    width: 50%;
}

.main-section__wrapper:first-child {
    position: relative;
}

.main-section__admission-form {
    position: absolute;
    top:-90px;
    left: 330px;
    width: 400px;
    height: 255px;
    background-color: var(--main-use-clr);
    border-radius: 15px;

    color: #fff;
    text-align: center;

    -webkit-box-shadow: 0 -16px 0 -1px var(--contact-clr);
    box-shadow: 0 -16px 0 -1px var(--contact-clr);
}

.main-section__admission-form h1 {
    font-size: 30px;
    margin-top: 37px;
}

.main-section__admission-form hr {
    width: 75px;
    height: 2px;
    background-color: #fff;
    border: none;
}

.main-section__admission-form h2 {
    margin: 30px 0 15px 0;
}

.wrapper-input{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.admission-form__field {
    padding: 13px 30px;
    width: 200px;
    border: none;
    border-radius: 25px 0  0 25px;

    color: #979494;
    font: normal 13px 'Poppins', sans-serif;
}

.admission-form__submit-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 47px;
    width: 60px;
    border-radius: 0 25px 25px 0;
    background-color: var(--contact-clr);
}

.admission-form__submit-btn img{
    width: 22px;
    height: 22px;
    
}

.main-section__quote {
    max-width: 100%;
    width: 590px;
    margin-top: 50px;
}

.main-section__quote .quote {
    color: var(--font-p-clr);
    font: italic 18px 'Poppins', sans-serif;
    line-height: 35px;
    text-align: center;
}

.main-section__quote .quote-author {
    color: #FB8122;
    font: normal bold 16px 'Poppins', sans-serif;
    line-height: 50px;
    text-align: center;
}

/* Main Content */
.main.container {
    margin: 0 100px;
}

.main-section__info {
    margin-top: 150px;
    padding: 0 10rem;
}

.main-section__first{
    margin-bottom: 75px;
}

.main-section__first, .main-section__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.first__image, .first__info, .second__image, .second__info {
    width: 50%;
}

.first__image img, .second__image img {
    margin: 0 auto;
}

.main-info-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.main-info-wrapper h2 {
    font-size: 30px;
}

.main-info-wrapper p {
    color: var(--font-p-clr);
    font-size: 15px;
    padding: 25px 0;
}

.main-info-wrapper button {
    margin-top: 30px;
    padding: 12px 30px;
    color: #fff;
    background-color: var(--main-use-clr);
    border: none;
    border-radius: 30px;
    font: normal 18px 'Poppins', sans-serif;
    cursor: pointer;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.main-info-wrapper button:hover {
    background-color: #fff;
    color: var(--main-use-clr);
    border: 1px solid var(--main-use-clr);
}

/* ADVANTAGES SECTION */

.advantages {
    padding: 150px 0;
}

.advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.advantage-list__case {
    max-width: 330px;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.advantage-list__case img {
    max-width: 70px;
    max-height: 70px;
}

.advantage-list__case:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.advantage-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 135px;
    height: 135px;
    border-radius: 50%;
}

.gs-img {
    background-color: var(--icon-gs-clr);
    -webkit-box-shadow: 0px 0px 17px 0px var(--icon-gs-clr); 
    box-shadow: 0px 0px 17px 0px var(--icon-gs-clr);
}

.sr-img {
    background-color: var(--icon-sr-clr);
    -webkit-box-shadow: 0px 0px 17px 0px var(--icon-sr-clr); 
    box-shadow: 0px 0px 17px 0px var(--icon-sr-clr);
}

.es-img {
    background-color: var(--icon-es-clr);
    -webkit-box-shadow: 0px 0px 17px 0px var(--icon-es-clr); 
    box-shadow: 0px 0px 17px 0px var(--icon-es-clr);
}

.advantage-title {
    margin: 80px 0 25px 0;
    font-size: 25px;
}

.advantage-descr {
    color: var(--font-p-clr);
    font-size: 17px;
}

/* FOOTER SECTION */

.container {
    margin: 0 300px;
}

.footer-main {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 2px solid #F3F0FF;   
}

.footer-main__copyright {
    width: 50%;
}

.copyright {
    color: #8A8A8A;
    font-size: 16px;
}

.footer-main__menu {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #8A8A8A;
    font-size: 16px;
}

.ft-menu-link {
    cursor: pointer;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.ft-menu-link:hover {
    color: #505050;
}

