:root {
    /* colors */
    --background-clr: #f5ac79;
    --primary-card-clr: #f8d4ba;
    --secondary-card-clr: #8E8D8A;
    --text-clr: #f9b4b4;
    --congrats-text-clr: #331717;
    --accent-clr: #E98074;
    --wrapper-clr: #fce9e2;

    /* fonts */
    --congratulion-font: 'Pattaya', sans-serif;
    --front-font: 'Lobster', cursive;
}

body {  
  background: var(--background-clr);
}

#card, 
#card-front, 
#card-content {
  height: 650px;
}

.content-wrapper,
.front-wrapper {
    padding: 1.5em 2.5em;
    height: 100%;
}
#card-front, 
#card-content {
    border: 2px solid #000;
    position: absolute;
    left: 25%; 
    top: 0;
    border-radius: 15px; 
    width: 500px;
    -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, .15);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .15);
}

#card-content .content-wrapper {
    border-radius: 15px; 
    background: var(--wrapper-clr);
    -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, .15);
    box-shadow: inset 2px 0 1px rgba(0, 0, 0, .15);
}

#card {
    max-width: 960px;
    width: 1000px;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 5000px;
    -moz-perspective: 5000px;
    -webkit-perspective: 5000px;
    position: absolute;
    top: 50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#card h1 {
    margin: 60px 0;
    text-align: center;
    font-family: var(--front-font);
    font-size: 70px;
    text-shadow: 
        4px 4px 0px rgba(0, 0, 0, .15),
        1px 1px 0 rgba(255, 255, 255, 255),
        2px 2px 0 rgba(255, 255, 255, 255),
        3px 3px 0 rgba(255, 255, 255, 255);
}
#card-content {
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Nobile';
    color: var(--congrats-text-clr);
    font-style: italic;
}

p {
    font-family: 'Pattaya', sans-serif;;
}

h2 {
    font-family: var(--front-font);
}

h2:first-child {
    text-align: center;
}
h2:last-child {
    text-align: right;
}

.content-title  {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    visibility: hidden;
    white-space: nowrap;
}
.content-congrats {
    margin: 15px 0 10px;
}

#congratsWrapper {
    visibility: hidden;
}

.content-footer {
    visibility: hidden;
}

p.signed {
    margin-top: 1.5em;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.5em;
}

#card-front {
    color: var(--background-clr);
    background-color: var(--primary-card-clr);
            -ms-transform-origin: left;
                transform-origin: left;
       -moz-transform-origin: left;
    -webkit-transform-origin: left;
            transition:         -webkit-transform 1s linear;
            -o-transition:         transform 1s linear;
            transition:         transform 1s linear;
            transition:         transform 1s linear, -webkit-transform 1s linear;
       -moz-transition:    -moz-transform 1s linear;
    -webkit-transition: -webkit-transform 1s linear;
    position: relative;
}

#card-front .front-wrapper  {
    border-radius: 15px; 
            -o-transition: background 1s linear; 
            transition: background 1s linear;
       -moz-transition: background 1s linear;
    -webkit-transition: background 1s linear;
}

#card-front button {
    position: absolute;
    top:50%;
    right: -12px;
    background: var(--background-clr);
    color: var(--congrats-text-clr);
    font-family: 'Nobile', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    padding: .5em;
    border: 2px solid #000;
    border-radius: 15px;
    cursor: pointer;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
        -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .4);
    -webkit-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

#card-front button:hover,
#card-front button:focus {
    background: #fa8633;
}

.floral {
    position: absolute;
    width: 75px;
    height: 75px;
}

.floral-tl {
    top: 5%;
    left: 5%;
}

.floral-tr {
    top: 5%;
    right: 5%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.floral-bl {
    bottom: 5%;
    left: 5%;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}

.floral-br {
    bottom: 5%;
    right: 5%;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

#cakeForKsyu {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: 70px auto;
}

.front-backside{
    display: none;
    text-align: center;
}

.front-backside.shown {
    display: block;
}

.backside__title {
    position: absolute;
    top: 25%;
    left: 27%;
    color: var(--congrats-text-clr);
    font-size: 25px;
    -webkit-transform: rotate(180deg) rotateX(180deg);
            transform: rotate(180deg) rotateX(180deg);
    text-transform: uppercase;
}

.bs-floral-tl {
    top: 5%;
    left: 5%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.bs-floral-tr {
    top: 5%;
    right: 5%;
    -webkit-transform: rotate(90deg) rotateX(180deg);
            transform: rotate(90deg) rotateX(180deg);
}

.bs-floral-bl {
    bottom: 5%;
    left: 5%;
    -webkit-transform: rotate(270deg) rotateX(180deg);
            transform: rotate(270deg) rotateX(180deg);
}

.bs-floral-br{
    bottom: 5%;
    right: 5%;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}

.andrewImage,
.ksyuImage {
    max-width: 250px;
    max-height: 250px;
    position: absolute;
}

.andrewImage {
    -webkit-transform: rotateY(170deg);
            transform: rotateY(170deg);
    top: 35%;
    left: 45%;
}

.ksyuImage {
    top: 35%;
    right: 45%;
}

#close {
    display: none;
}

#card.full-open #close,
#card.half-open #close {
    display: inline;
}

#card.full-open #open {
    display: none;
}


#card.half-open #card-front,
#card.half-close #card-front {
            transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
}
#card.half-open #card-front .front-wrapper  {
    background-color: rgba(0, 0, 0, .5);
}

#card.full-open #card-front,
#card.half-close #card-front {
  background: #FFEFEF;
}

#card.full-open #card-front {
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

#card.full-open #card-front .front-wrapper  {
    background: var(--wrapper-clr);
}

#card.full-open #card-front .front-wrapper  *,
#card.half-close #card-front .front-wrapper  * {
   display: none;
}

.anim__typing {
    visibility: visible;
    -webkit-animation: typing 3.5s steps(60, end),
               typer .75s step-end infinite;
            animation: typing 3.5s steps(60, end),
               typer .75s step-end infinite;
}

.fadeIn {
    visibility: visible!important;
    -webkit-animation: fadeIn 1s ease-in-out;
            animation: fadeIn 1s ease-in-out;
}

#birthday {
    display: block;
}

.fas {
    -webkit-animation: slide 1s linear 2s infinite;
            animation: slide 1s linear 2s infinite;
}

@-webkit-keyframes slide {
    0% { -webkit-transform: rotate(0); transform: rotate(0);}
    25% { -webkit-transform: rotate(20deg); transform: rotate(20deg);}
    50% { -webkit-transform: rotate(0); transform: rotate(0); }
    75% { -webkit-transform: rotate(-20deg); transform: rotate(-20deg);}
    100% { -webkit-transform: rotate(0); transform: rotate(0);}
}

@keyframes slide {
    0% { -webkit-transform: rotate(0); transform: rotate(0);}
    25% { -webkit-transform: rotate(20deg); transform: rotate(20deg);}
    50% { -webkit-transform: rotate(0); transform: rotate(0); }
    75% { -webkit-transform: rotate(-20deg); transform: rotate(-20deg);}
    100% { -webkit-transform: rotate(0); transform: rotate(0);}
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@-webkit-keyframes typer {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

@keyframes typer {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
